<IfModule mod_rewrite.c >
Options -Multiviews
RewriteEngine On
RewriteBase /php/31-almostLara
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>